[project]
	description = Advanced HTML5 mobile development framework and SDK. Build incredible mobile apps with web technologies you already know and love. Best friends with AngularJS.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Andreas Richter (richtera)
[access "refs/for/refs/*"]
	read = group user/Andreas Richter (richtera)
	push = group user/Andreas Richter (richtera)
	label-Code-Review = -2..+2 group user/Andreas Richter (richtera)
	label-Verified = -1..+1 group user/Andreas Richter (richtera)
	rebase = group user/Andreas Richter (richtera)
	removeReviewer = group user/Andreas Richter (richtera)
	submit = group user/Andreas Richter (richtera)
[access "refs/heads/*"]
	read = group user/Andreas Richter (richtera)
	create = group user/Andreas Richter (richtera)
	push = +force group user/Andreas Richter (richtera)
	pushMerge = group user/Andreas Richter (richtera)
[access "refs/tags/*"]
	push = group user/Andreas Richter (richtera)
	push = +force group user/Andreas Richter (richtera)
